 <div id="create-section" class="py-4 overflow-y-scroll">
                    <div id="create-container" class="px-4 w-full">
                        <form action="/upload" method="post" enctype="multipart/form-data" class="flex flex-col gap-4">
                            <div>
                            <label for="name" class="font-mono text-md font-black">Document Name</label>
                            <input type="text" id="name" name="name"class=" mt-2 h-16 w-full bg-gray-100 px-4 py-2 border-2 border-gray-500  text-2xl text-black rounded-xl"
                            placeholder="Adhaar,Pan,license etc" required>
                            </div>
                            
                            <div>
                            <label for="docsID" class="font-mono text-md font-black">Document ID</label>
                            <input type="text" id="docsID" name="docsID"class=" mt-2 h-16 w-full bg-gray-100 px-4 py-2 border-2 border-gray-500  text-2xl text-black rounded-xl"
                            placeholder="Eg. 4585 2734 XXXX" required>
                            </div>


                            <div>


 <input 
  type="file" 
  id="image"
  name="document"
  accept="image/*"
  class="hidden"
/>

<label 
  for="image"
  id="uploadBox"
  class="mt-2 flex flex-col items-center justify-center
         h-66 md:h-80 w-full cursor-pointer  
         rounded-2xl border-2 border-dashed border-gray-400
         bg-gray-50 hover:bg-gray-100
         transition-all relative"
>

  <div id="loader" class="hidden absolute flex items-center justify-center">
    <div class="h-8 w-8 border-4 border-teal-500 border-t-transparent rounded-full animate-spin"></div>
  </div>

  
  <div id="placeholder" class="flex flex-col items-center">
    <svg class="w-10 h-10 text-gray-500 mb-2" fill="none" stroke="currentColor" stroke-width="2"
      viewBox="0 0 24 24">
      <path d="M7 16V12M12 16V8M17 16V4M4 20h16"/>
    </svg>

    <p class="text-sm text-gray-600 font-medium">
      Click to upload document image
    </p>
    <p class="text-xs text-gray-400">
      PNG, JPG (Max 5MB)
    </p>
  </div>

  <img id="preview" class="hidden h-full w-full object-contain rounded-2xl" />

</label>



                            </div>

                            <button class="w-full h-16 bg-emerald-400 text-md text-white rounded-xl" data-upload-docs>Upload Docuemts</button>
                            
                        </form>
                    </div>

                    
                </div>
