<div id="profile-section" class="py-4">
    <div id="profle-container" class="px-4 flex flex-col gap-4 ">

         <div id="name" class="bg-emerald-100 rounded-xl items-center">
            <p class="text-xl px-4 py-4">Username: <span class="text-2xl font-medium"><%= user.userName %></span></p>
        </div>

        <div id="email" class="h-20 flex items-center bg-emerald-100 px-4 rounded-xl">
             <form action="/edit" method="post" class="flex items-center justify-between">
            <input class="h-12 w-64 py-2 text-xl outline-none border-b-2 border-gray-400" type="text" name="newEmail" value="<%= user.email %>" editable>
            <button  class="h-10 bg-emerald-300 px-4 py-2 rounded-xl text-xl">edit</button>
            </form>
        </div>

         <p class="text-center text-2xl text-gray-500 col-span-full mt-4">Thats the all user data currently we have</p>
    </div>

    <div id="footer-section" class="py-4 fixed bottom-0 pb-30 ">
            <div id="footer-container" class="px-4">
                <h1 class="text-gray-300 font-black text-6xl text-left">Made with <i class="fa-solid fa-heart text-red-300 text-8xl"></i>By Nishav</h1>
            </div>
        </div>
</div>