<div id="create-section" class="py-4 overflow-y-scroll">
                    <div id="create-container" class="px-4 w-full">
                        <form action="/update" method="post" enctype="multipart/form-data" class="flex flex-col gap-4">
                            <div>
                            <label for="name" class="font-mono text-md font-black">New Document Name</label>
                            <input type="text" id="name" name="docName"class=" mt-2 h-16 w-full bg-gray-100 px-4 py-2 border-2 border-gray-500  text-2xl text-black rounded-xl"
                            placeholder="Adhaar,Pan,license etc" required>
                            </div>
                            
                            <div>
                            <label for="docsID" class="font-mono text-md font-black">New Document ID</label>
                            <input type="text" id="docsID" name="docsID"class=" mt-2 h-16 w-full bg-gray-100 px-4 py-2 border-2 border-gray-500  text-2xl text-black rounded-xl"
                            placeholder="Eg. 4585 2734 XXXX" required>
                            </div>

                            <div>






                            </div>

                            <button class="w-full h-16 bg-emerald-400 text-md text-white rounded-xl" data-update-docs>Update Docuemts</button>
                            
                        </form>
                    </div>

                    
                </div>
