<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="page-wrapper">
        <header id="nav-section" class="bg-sky-900">
            <div id="nav-container" class="flex px-4 items-center justify-between md:px-30 py-2 md:py-4">
                <div id="logo" class="text-white text-2xl"><span class="text-sky-500">ID</span>Locker</div>
                <nav id="nav-link">
                    <a href="http://localhost:3000/"><button class="p-2 px-4 text-xl rounded-2xl border-2 border-sky-500 text-sky-500">Home</button></a>
                </nav>
            </div>
        </header>


        <main id="main-content">

        </main>


        <footer id="footer-section">
            
        </footer>

    </div>
</body>
</html>