<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="page-wrapper" class="">
        <header id="nav-section" class="bg-sky-900">
            <div id="nav-container" class="flex px-4 items-center justify-between md:px-30 py-2 md:py-4">
                <div id="logo" class="text-white text-2xl"><span class="text-sky-500">ID</span>Locker</div>
                <nav id="nav-link">
                    <a href="http://localhost:3000/"><button class="p-2 px-4 text-xl rounded-2xl border-2 border-sky-500 text-sky-500">Home</button></a>
                </nav>
            </div>
        </header>


        <main id="main-content" class="bg-emerald-50 h-190 md:h-150 px-4 md:px-30 md:flex md:justify-between md:items-center">
            <div id="image-section" class="hidden md:flex items-center justify-center">
                <div id="image" class=" bg-teal-300">
                    <img src="/img/hero-img.svg" alt="IMG" class="">
                </div>
            </div>
            <div id="auth-section" class="min-h-full py-6 flex items-center justify-center">
                <div id="login-container" class="w-full px-4 hidden">
                    <form action="/login" method="post" class="flex flex-col items-center justify-between gap-4">
                        <input
                        type="text"
                        placeholder="Enter Your Username" 
                        name="userName"
                        class="h-20 w-full px-4 py-2 border-2 border-sky-500 text-2xl text-black rounded-3xl bg-white"
                        required
                        >
                        <input type="password"
                        placeholder="Enter Your Password" 
                        name="Password"
                        class="h-20 w-full px-4 py-2 border-2 border-sky-500 text-2xl text-black rounded-3xl bg-white"
                        required
                        >
                        <button class="h-20 w-full px-4 text-xl rounded-2xl border-2 bg-sky-900 text-white">Login</button>

                            <p class="font-mono text-xl">Don't have an account? <span id="signup" class="text-sky-900">Signup</span></p>
                    </form>
                </div>
                <div id="signup-container" class="w-full px-4 ">
                    <form action="/signup" method="post" class="flex flex-col items-center justify-between gap-4">
                        <input
                        type="text"
                        placeholder="Enter Your Username" 
                        name="userName"
                        class="h-20 w-full px-4 py-2 border-2 border-sky-500 text-2xl text-black rounded-3xl bg-white"
                        required
                        >
                        <input
                        type="email"
                        placeholder="Ex.nishavhu@gmail.com" 
                        name="email"
                        class="h-20 w-full px-4 py-2 border-2 border-sky-500 text-2xl text-black rounded-3xl bg-white"
                        required
                        >
                        <input type="password"
                        placeholder="Enter Your Password" 
                        name="password"
                        class="h-20 w-full px-4 py-2 border-2 border-sky-500 text-2xl text-black rounded-3xl bg-white"
                        required
                        >
                        <button class="h-20 w-full px-4 text-xl rounded-2xl border-2 bg-sky-900 text-white">Signup</button>

                            <p class="font-mono text-xl">Already have an account? <span id="signup" class="text-sky-900">Login</span></p>
                    </form>
                </div>
            </div>
        </main>


        <footer id="footer-section">

        </footer>

    </div>
</body>
</html>