<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="page-wrapper">

       <header id="nav-section" class="bg-sky-900">
            <div id="nav-container" class="flex px-4 items-center justify-between md:px-30 py-2 md:py-4">
                <div id="logo" class="text-white text-2xl"><span class="text-sky-500">ID</span>Locker</div>
                <nav id="profile" class="h-10 w-10 text-2xl text-emerald-400 rounded-full bg-emerald-200 flex items-center justify-center">
                    <a href="" data-page="profile" class=""><i class="fa-solid fa-user"></i></a>
                </nav>
            </div>
        </header>

        <main id="content">
            
        </main>



    </div>

    <script src="/js/app.js"></script>
</body>
</html>