<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="page-wrapper">

       <header id="nav-section" class="bg-sky-900">
            <div id="nav-container" class="flex px-4 items-center justify-between md:px-30 py-2 md:py-4">
                <div id="logo" class="text-white text-2xl"><span class="text-sky-500">ID</span>Locker</div>
                <nav id="profile">
                    <a href="" data-page="profile"></a>
                </nav>
            </div>
        </header>




    </div>
</body>
</html>