<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="page-wrapper">
        <header id="nav-section">
            <div id="nav-container">
                <div id="logo">IDLocker</div>
                <nav id="nav-link">
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                </nav>
            </div>
        </header>


        <main id="main-content">
            
            <section id="hero-section">
                <div id="hero-container">
                    <h1>hello</h1>
                    <p>haa bhaiii helllow koi haiiiiiiiiiiiii</p>
                </div>
            </section>


            <section id="feature-section">
                <div id="feature-container">
                    <div id="feature-card"></div>
                </div>
            </section>
        </main>

        <footer id="footer-section">
            <div id="footer-container">
                Footer Content
            </div>
        </footer>

    </div>
</body>
</html>